<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Open Graph Protocol -->
    <meta property="og:title" content="Portafolio de Kilber">
    <meta property="og:description" content="Este es el portafolio de Kilber Hernández, un estudiante universitario de Ingeniería en Sistemas (Ingeniería Informática).">
    <meta property="og:image" content="https://yourwebsite.com/images/Kilber.jpg">
    <meta property="og:url" content="https://yourwebsite.com">
    <meta property="og:type" content="website">

    <title>Portafolio de Kilber</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='/stylesheets/aos.css' rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="/stylesheets/main.css?ver=1.1.0" rel="stylesheet">
    <link rel="shortcut icon" href="/images/Kilber.jpg" type="image/png">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Kilber CV</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Habilidades</a></li>
                <!-- <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portafolio</a></li> -->
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experiencia</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Educacion</a></li>
                <li class="nav-item"><a  class="nav-link smooth-scroll" href="/signup"> Registrarse </a> </li>
                <li class="nav-item"><a  class="nav-link smooth-scroll" href="/login"> Iniciar Sesión </a> </li>
                <li class="nav-item"><a  class="nav-link smooth-scroll" href="/contactos"> Contactos </a> </li>                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('images/Matrix.webp')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href=""><img src="images/Kilber.jpg" alt="Image"/></a></div>
          <div class="h2 title">Kilber Hernández</div>
          <p class="category text-white">Estudiante Universitario</p>
          <!-- <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contactame</a><a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Descargar CV</a> -->
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/kilber.hernandez.3/" rel="tooltip" title="Sigueme en Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/K2H05" rel="tooltip" title="Sigueme en Github"><i class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/wexgaku/?hl=es-la" rel="tooltip" title="Sigueme en Instagram"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Acerca de</div>
            <p>Hola soy Kilber Hernández. Estudiante Universitario</p>
            <p>Soy un estudiante que actualmente esta cursando la carrera de Ingenieria en Sistemas (Ingenieria Informática). Me gusta la musica, todo lo que tenga que ver con tecnologia, videojuegos. Actualmente estoy aprendiendo a programar</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Informacion Basica</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Edad:</strong></div>
              <div class="col-sm-8">23</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Correo Electronico:</strong></div>
              <div class="col-sm-8">kilberkamui@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Telefono:</strong></div>
              <div class="col-sm-8">04243145933</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Direccion:</strong></div>
              <div class="col-sm-8">Aragua, Villa de cura, Sector los colorados</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Lenguaje:</strong></div>
              <div class="col-sm-8">Spanish </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Habilidades Profesionales</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div><span class="progress-value">30%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">C++</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">50%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div><span class="progress-value">20%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Mantenimiento al computador</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">50%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Habilidades con Microft Office</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Manejo Del Ingles</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div><span class="progress-value">10%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Experiencias de Trabajo</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2018 - Presente</p>
            <div class="h5">Explorado</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Mantenimiento Al Computador</div>
            <p>He realizado mantenimientos a computadoras. Con el fin de aprender mas sobre la tecnologia.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2019-2022</p>
            <div class="h5">Experiencia En Trabajos</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Industrias </div>
            <p>He trabajado en empresas de reciclaje con el cargo de obrero</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>...</p>
            <div class="h5">Proximamente</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Proximamente</div>
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Educacion</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2022 - Actualmente</p>
            <div class="h5">Educacion Universitaria</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Universidad Experimental Romulo Gallegos (UNERG)</div>
            <p class="category">Carrera: Ingenieria en Sistemas (Ingenieria Informatica)</p>
            <p>Actualmente me encuentro estudiando Ingenieria en Informática en la UNERG.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012 - 2017</p>
            <div class="h5">Bachillerato</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Liceo Alberto Smith</div>
            <p class="category">Educacion Media</p>
            <p>Fui un adolecente que siempre estaba atento a sus clases y de siempre sacar las mejores calificaciones.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2006 - 2012</p>
            <div class="h5">Escuela</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Amanda Flores De Roye</div>
            <p class="category">Educacion Basica</p>
            <p>En la escuela era muy alegre y muy bueno en matemáticas, siempre me lleve bien con mis compañeros</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div></div>
</div>
 <!-- ======= Formulario Section ======= -->
 <section id="formulario" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Formulario</h2>
      <p><!-- Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas -->.</p>
    </div>

    <div class="row justify-content-center">
      
      <div class="col-md-8">
        <form action="/form-contact" method="post" id="form">
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="pais" class="form-control" id="pais" placeholder="País" required>
                </div>
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" name="comment" id="comment" placeholder="Comentario" required>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="hidden" name="recaptcha" id="recaptcha">
                <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
            </div>
            <div class="text-center m-3">
                <button type="submit" id="form-submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
    

    </div>
        
  </div>
        
</div>
      
</section>
  </div></div>
      </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" href="https://www.facebook.com/kilber.hernandez.3/"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="https://github.com/K2H05"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="https://www.instagram.com/wexgaku/?hl=es-la"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Kilber Hernández</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="/javascripts/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="/javascripts/js/aos.js?ver=1.1.0"></script>
    <script src="/javascripts/main.js?ver=1.1.0"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- Google Analytics Demo -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XXXXXXX');
    </script>
    <!-- End Google Analytics Demo -->

  </body>
</html>